<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<title>All Images - {{.SiteName}}</title>
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
<a href="/?a=upload">Upload</a>
</header>
<main id="main">

<h1>All Images</h1>

<ul>
{{range .Images}}
<p>
URL: {{$.Base}}{{.}}<br />
</p>
<p>
<a href="/{{. | pathescape}}?a=img"><img src="/{{. | pathescape}}" alt="Uploaded Image" /></a>
</p>
{{else}}
<li>No images.</li>
{{end}}
</ul>

<div class="menu">
<br />
<a href="/?a=allimgs&p={{.NextPage}}">Next</a>
</div>

</main>
<footer class="menu">
<br />
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
<a href="/?a=upload">Upload</a>
</footer>

</body>
</html>
