<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="icon" type="image/png" href="/static/icon.png" />
<title>Info - {{.SiteName}}</title>
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
</header>
<main id="main">

<h1>Info</h1>

<h2>Database Stats</h2>

<div>BootCount = {{.Stat.BootCount}}</div>
<div>PageSaveCount = {{.Stat.PageSaveCount}}</div>
<div>ImageSaveCount = {{.Stat.ImageSaveCount}}</div>
<div>Size = {{.Stat.Size}}</div>
<div>PageCount = {{.Stat.PageCount}}</div>
<div>RevisionCount = {{.Stat.RevisionCount}}</div>
<div>ImageCount = {{.Stat.ImageCount}}</div>
<div>ImageRevisionCount = {{.Stat.ImageRevisionCount}}</div>

<h2>Configurations</h2>

<h3>Site</h3>
<div>Base = {{.Public.Site.Base}}</div>
<div>Name = {{.Public.Site.Name}}</div>
<div>Card = {{.Public.Site.Card}}</div>
<div><img src="{{.Public.Site.Card}}" alt="Card" /></div>

<h3>Wiki</h3>
<div>Front = {{.Public.Wiki.Front}}</div>
<div>Format = {{.Public.Wiki.Format}}</div>

<h3>Image</h3>

<div>Domains =</div>
<ul>
{{range .Public.Image.Domains}}
<li>{{.}}</li>
{{else}}
<li>(none)</li>
{{end}}
</ul>

<div>Extensions =</div>
<ul>
{{range .Public.Image.Extensions}}
<li>{{.}}</li>
{{else}}
<li>(none)</li>
{{end}}
</ul>

<h3>Filter</h3>
<div>Agent = {{.Public.Filter.Agent}}</div>
<div>Temperature = {{.Public.Filter.Temperature}}</div>
<div>TopP = {{.Public.Filter.TopP}}</div>

<h3>ImageFilter</h3>
<div>Agent = {{.Public.ImageFilter.Agent}}</div>
<div>MaxLength = {{.Public.ImageFilter.MaxLength}}</div>
<div>MaxSize = {{.Public.ImageFilter.MaxSize}}</div>

<h3>Gnome</h3>
<div>Agent = {{.Public.Gnome.Agent}}</div>
<div>Temperature = {{.Public.Gnome.Temperature}}</div>
<div>TopP = {{.Public.Gnome.TopP}}</div>
<div>Ratio = {{.Public.Gnome.Ratio}}</div>
<div>Recent = {{.Public.Gnome.Recent}}</div>

<h2>Prompts</h2>

<h3>Filter</h3>
<pre>{{.Public.Prompts.Filter}}</pre>

<h3>Common</h3>
<pre>{{.Public.Prompts.Common}}</pre>

<h3>Nomark</h3>
<pre>{{.Public.Prompts.Nomark}}</pre>

<h3>Creole</h3>
<pre>{{.Public.Prompts.Creole}}</pre>

<h3>Markdown</h3>
<pre>{{.Public.Prompts.Markdown}}</pre>

<h3>Gnome</h3>
<pre>{{.Public.Prompts.Gnome}}</pre>

<h2>Configurations Part 2</h2>

<h3>Links</h3>
{{range .Public.Links}}
<div>{{.Key}} = {{.URL}}</div>
{{else}}
<div>(none)</div>
{{end}}

</main>
<footer class="menu">
<br />
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
</footer>

</body>
</html>
