<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="icon" type="image/png" href="/static/icon.png" />
<title>Revisions - {{.Title}} - {{.SiteName}}</title>
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
<a href="/{{.Name | pathescape}}">Current</a>
</header>
<main id="main">

<h1>Revisions - {{.Title}}</h1>

{{range .Revisions}}
<div><code>
{{.Diff | fmtdiff}}
</code></div>
<form action="/{{$.Name | pathescape}}" method="GET">
<input type="hidden" name="a" value="rev" />
<input type="hidden" name="i" value="{{.ID}}" />
<input type="submit" value="View" />
</form>
<hr />
{{else}}
<div>
No revisions found.
</div>
{{end}}

<div class="menu">
<br />
<a href="/{{.Name | pathescape}}?a=revs&p={{.NextPage}}">Next</a>
</div>

</main>
<footer class="menu">
<br />
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
<a href="/{{.Name | pathescape}}">Current</a>
</footer>

</body>
</html>
