<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="icon" type="image/png" href="/static/icon.png" />
<title>Search - {{.SiteName}}</title>
</head>
<body>
<a id="top"></a>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
<a href="/?a=recent">Recent</a>
<a href="/?a=all">All</a>
</header>
<main id="main">

<h1>Search</h1>
{{if .Word}}
<h2>Results for "{{.Word}}"</h2>
<ul>
{{range .Results}}
<li><a href="/{{. | pathescape}}">{{.}}</a></li>
{{else}}
<li>No results found.</li>
{{end}}
</ul>

<div class="menu">
<br />
<a href="/?a=search&t={{.Type}}&w={{.Word | urlquery}}&p={{.NextPage}}">Next</a>
</div>
{{end}}
<div>Name Search</div>
<form action="/?a=search" method="GET">
<input type="hidden" name="a" value="search" />
<input type="hidden" name="t" value="name" />
<input type="text" name="w" value="{{.Word}}" />
<input type="submit" value="Go" />
</form>

<div>Content Search</div>
<form action="/" method="GET">
<input type="hidden" name="a" value="search" />
<input type="hidden" name="t" value="content" />
<input type="text" name="w" value="{{.Word}}" />
<input type="submit" value="Go" />
</form>

</main>
<footer class="menu">
<br />
<a href="#top">Top</a>
</footer>

</body>
</html>
