<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<title>Upload - {{.SiteName}}</title>
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
<a href="/?a=allimgs">All Imgs</a>
</header>
<main id="main">

<h1>Upload</h1>

<form action="/?a=upload" method="POST" enctype="multipart/form-data">
<input type="text" name="name" value="{{.Name}}" /><br>
<input type="file" name="file" /><br />
<input type="submit" name="upload" value="Upload" />
</form>

{{if .Name}}
<p>
URL: {{.Base}}{{.Name}}<br />
</p>
<p>
<img src="/{{.Name | pathescape}}" alt="Uploaded Image" />
</p>
{{end}}

</main>
<footer class="menu">
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
<a href="/?a=allimgs">All Imgs</a>
</footer>

</body>
</html>
