<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<link rel="icon" type="image/png" href="/static/icon.png" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>MathJax = { options: { processHtmlClass: 'mathjax', ignoreHtmlClass: '.*' } };</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
<title>{{.Title}} - {{.SiteName}}</title>
<meta property="og:title" content="{{.Title}} - {{.SiteName}}" />
<meta property="og:description" content="{{.Summary}}" />
<meta property="og:image" content="{{.Card}}" />
<meta property="og:url" content="{{.Base}}{{.Name | pathescape}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{.Title}} - {{.SiteName}}" />
<meta name="twitter:description" content="{{.Summary}}" />
<meta name="twitter:image" content="{{.Card}}" />
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
<a href="/{{.Name | pathescape}}?a=edit">Edit</a>
<a href="/{{.Name | pathescape}}?a=revs">Rev.</a>
<a href="/?a=search">Search</a>
<a href="/?a=recent">Recent</a>
<a href="/?a=all">All</a>
<a href="/?a=upload">Upload</a>
<a href="/?a=info">Info</a>
</header>
<main id="main">
{{if .Diff}}
<h1>Diff</h1>

<div><code>
{{.Diff | fmtdiff}}</code></div>
{{end}}
<h1><a href="/?a=search&t=content&w={{.SearchName | urlquery}}">{{.Title}}</a></h1>

<div>
{{.Rendered}}
</div>

</main>
<footer class="menu">
<br />
<a href="/"><img src="/static/logo.png" alt="{{.SiteName}}" /></a>
<a href="/{{.Name | pathescape}}?a=edit">Edit</a>
<a href="/{{.Name | pathescape}}?a=revs">Rev.</a>
<a href="/?a=search">Search</a>
<a href="/?a=recent">Recent</a>
<a href="/?a=all">All</a>
<a href="/?a=upload">Upload</a>
<a href="/?a=info">Info</a>
</footer>

</body>
</html>
