app:
  mode: "devel"
  addr: ":8080"

database:
  host: "localhost"
  port: 5432
  user: "hime"
  password: "SuperStrongPassw0rd"
  name: "himewiki"
  sslmode: "disable"

site:
  name: "HimeWiki"
  front: "FrontPage"

filter:
  agent: "ChatGPT"
  key: "(Your OpenAPI Key Here)"
  system: "You are a text filter for a wiki engine. Clean up, normalize, and lightly rewrite if needed."
  prompt: ""
