app:
  mode: "devel"
  addr: ":8080"

database:
  host: "localhost"
  port: 5432
  user: "hime"
  password: "SuperStrongPassw0rd"
  name: "himewiki"
  sslmode: "disable"

vacuum:
    check-every: 250
    threshold: 68719476736
    image-threshold: 68719476736

site:
  base: "https://wiki.example.org/"
  name: "HimeWiki"
  card: "https://icon.example.org/hime/card.png"

wiki:
  front: "FrontPage"
  format: "nomark"

image:
  domains:
    - "wiki.example.org"
    - "icon.example.org"
    - "localhost"
  extensions:
    - "png"
    - "jpeg"

filter:
  agent: "openai"
  key: "(Your OpenAI API Key Here)"
  temperature: 0.5

image-filter:
  agent: "openai"
  key: "(Your OpenAI API Key Here)"
  max-length: 4194304
  max-size: 512

gnome:
  agent: "openai"
  key: "(Your OpenAI API Key Here)"
  temperature: 0.5
  ratio: 10
  recent: 10

prompts-path: "./prompts.yaml"
