body {
	background: #eff;
	background-image: url(/static/tile.png);
}

@media (prefers-color-scheme: dark) {
	body {
		background: #100;
		background-image: url(/static/tile-dark.png);
		color: #bbb;
	}
	a:link {
		color: #59d;
	}
	a:visited {
		color: #95d;
	}
	input, textarea {
		background: #000;
		color: #bbb;
		border-color: #444;
	}
	.hljs {
		background: #000;
		color: #bbb;
	}
}

.menu a {
}

.menu a {
	padding: 0.5em;
	line-height: 3.5em;
	border-radius: 0.5em;
	border-width: 0.5em;
	border-style: solid;
	border-color: #7777;
}
input[type="submit"] {
	padding: 1em;
	background: #7777;
	border-radius: 0.5em;
}

.horizon {
	width: 100%;
}

.horizon::before {
	content: "";
	position: absolute;
	margin-top: 0.5em;
	left: 0;
	width: 100%;
	height: 0.4em;
	background: #7777;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-x: auto;
}

textarea {
	width: 85%;
}

.link {
	font-size: 1.125em;
}

.markup {
	color: #5c7;
	font-size: 0.5em;
}

strong {
	color: #e52;
	font-size: 1.125em;
}

em {
	color: #48f;
	font-size: 1.125em;
}

.hunk {
	color: #36f;
}

.plus {
	color: #8fc;
	font-size: 1.125em;
}

.plus-line {
	color: #2c4;
}

.minus {
	color: #fc8;
	font-size: 1.125em;
}

.minus-line {
	color: #f63;
}
