<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>MathJax = { options: { processHtmlClass: 'mathjax', ignoreHtmlClass: '.*' } };</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
<title>Edit - {{.Name}} - {{.SiteName}}</title>
</head>
<body>

<h1>Edit - {{.Name}}</h1>

<form action="/{{.Name | pathescape}}?a=edit" method="POST">
<input type="hidden" name="previewed" value="{{.Previewed}}" />
<input type="hidden" name="revision_id" value="{{.RevisionID}}" />
<textarea name="content" rows="12" cols="64">{{.Text}}</textarea><br>
<input type="submit" name="preview" value="Preview" />
{{if .Previewed}}
<input type="submit" name="save" value="Save" />
{{end}}
</form>

<div>
<a href="/">
<picture>
<source srcset="/logo.png?a=static" media="(prefers-color-scheme: light)">
<source srcset="/logo-dark.png?a=static" media="(prefers-color-scheme: dark)">
<img src="/logo.png?a=static" alt="{{.SiteName}}">
</picture>
</a>
<a href="/{{.Name | pathescape}}">Cancel</a>
</div>

{{if .Previewed}}
<h1><a href="/?a=search&t=content&w={{.Name | urlquery}}">{{.Name}}</a></h1>

<div>
{{.Rendered}}
</div>
{{end}}

</body>
</html>
