<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<title>Info - {{.SiteName}}</title>
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
</header>
<main id="main">

<h1>Info</h1>

<h2>Database Stats</h2>
<p>
BootCount = {{.Stat.BootCount}}
</p>
<p>
PageSaveCount = {{.Stat.PageSaveCount}}
</p>
<p>
ImageSaveCount = {{.Stat.ImageSaveCount}}
</p>
<p>
Size = {{.Stat.Size}}
</p>
<p>
PageCount = {{.Stat.PageCount}}
</p>
<p>
RevisionCount = {{.Stat.RevisionCount}}
</p>
<p>
ImageCount = {{.Stat.ImageCount}}
</p>
<p>
ImageRevisionCount = {{.Stat.ImageRevisionCount}}
</p>

<h2>Configurations</h2>

<h3>Site</h3>
<p>
Base = {{.Public.Site.Base}}
</p>
<p>
Name = {{.Public.Site.Name}}
</p>
<p>
Card = {{.Public.Site.Card}}
</p>
<p>
<img src="{{.Public.Site.Card}}" alt="Card" />
</p>

<h3>Wiki</h3>
<p>
Front = {{.Public.Wiki.Front}}
</p>
<p>
Format = {{.Public.Wiki.Format}}
</p>

<h3>Image</h3>
<p>
Domains =
<ul>
{{range .Public.Image.Domains}}
<li>{{.}}</li>
{{else}}
<li>(none)</li>
{{end}}
</ul>
</p>
<p>
Extensions =
<ul>
{{range .Public.Image.Extensions}}
<li>{{.}}</li>
{{else}}
<li>(none)</li>
{{end}}
</ul>
</p>

<h3>Filter</h3>
<p>
Agent = {{.Public.Filter.Agent}}
</p>
<p>
System =
<pre>{{.Public.Filter.System}}</pre>
</p>
<p>
Prompt =
<pre>{{.Public.Filter.Prompt}}</pre>
</p>
<p>
Temperature = {{.Public.Filter.Temperature}}
</p>
<p>
Common =
<pre>{{.Public.Filter.Common}}</pre>
</p>
<p>
Nomark =
<pre>{{.Public.Filter.Nomark}}</pre>
</p>
<p>
Creole =
<pre>{{.Public.Filter.Creole}}</pre>
</p>
<p>
Markdown =
<pre>{{.Public.Filter.Markdown}}</pre>
</p>

<h3>ImageFilter</h3>
<p>
Agent = {{.Public.ImageFilter.Agent}}
</p>
<p>
MaxLength = {{.Public.ImageFilter.MaxLength}}
</p>
<p>
MaxSize = {{.Public.ImageFilter.MaxSize}}
</p>

<h3>Gnome</h3>
<p>
Agent = {{.Public.Gnome.Agent}}
</p>
<p>
System =
<pre>{{.Public.Gnome.System}}</pre>
</p>
<p>
Prompt =
<pre>{{.Public.Gnome.Prompt}}</pre>
</p>
<p>
Temperature = {{.Public.Gnome.Temperature}}
</p>
<p>
Ratio = {{.Public.Gnome.Ratio}}
</p>
<p>
Recent = {{.Public.Gnome.Recent}}
</p>

</main>
<footer class="menu">
<br />
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
</footer>

</body>
</html>
