<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<title>Recent Changes - {{.SiteName}}</title>
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
</header>
<main id="main">

<h1>Recent Changes</h1>

{{range .Records}}
<h3><a href="/{{.Name | pathescape}}">{{.Name}}</a></h3>
<div><code>
{{.Diff | fmtdiff}}
</code></div>
<hr />
{{else}}
<p>No pages.</p>
{{end}}

<div class="menu">
<br />
<a href="/?a=recent&p={{.NextPage}}">Next</a>
</div>

</main>
<footer class="menu">
<br />
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
</footer>

</body>
</html>
