<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>MathJax = { options: { processHtmlClass: 'mathjax', ignoreHtmlClass: '.*' } };</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
<title>Old Revision - {{.Name}} - {{.SiteName}}</title>
</head>
<body>

<div>
<a href="/">
<picture>
<source srcset="/logo.png?a=static" media="(prefers-color-scheme: light)">
<source srcset="/logo-dark.png?a=static" media="(prefers-color-scheme: dark)">
<img src="/logo.png?a=static" alt="{{.SiteName}}">
</picture>
</a>
<a href="/{{.Name | pathescape}}">Current</a>
<a href="/{{.Name | pathescape}}?a=revs">Rev.</a>
</div>

<h1>Old Revision - <a href="/?a=search&t=content&w={{.Name | urlquery}}">{{.Name}}</a></h1>

<div>
{{.Rendered}}
</div>

<form action="/{{.Name | pathescape}}?a=revert&i={{.ID}}" method="POST">
<input type="submit" name="revert" value="Revert" />
</form>

</body>
</html>
