<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css" />
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>MathJax = { options: { processHtmlClass: 'mathjax', ignoreHtmlClass: '.*' } };</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
<title>Old Revision - {{.Title}} - {{.SiteName}}</title>
</head>
<body>

<header class="menu">
<a href="#main">Skip</a>
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
<a href="/{{.Name | pathescape}}">Current</a>
<a href="/{{.Name | pathescape}}?a=revs">Rev.</a>
</header>
<main id="main">

<h1>Old Revision - <a href="/?a=search&t=content&w={{.SearchName | urlquery}}">{{.Title}}</a></h1>

<div>
{{.Rendered}}
</div>

{{if .Diff}}
<h1>Diff</h1>
<div><code>
{{.Diff | fmtdiff}}
</code></div>
{{end}}

<form action="/{{.Name | pathescape}}?a=revert&i={{.ID}}" method="POST">
<input type="submit" name="revert" value="Revert" />
</form>

</main>
<footer class="menu">
<br />
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
<a href="/{{.Name | pathescape}}">Current</a>
<a href="/{{.Name | pathescape}}?a=revs">Rev.</a>
</footer>

</body>
</html>
