<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<title>Revisions - {{.Name}} - {{.SiteName}}</title>
</head>
<body>

<div>
<a href="/">
<picture>
<source srcset="/logo.png?a=static" media="(prefers-color-scheme: light)">
<source srcset="/logo-dark.png?a=static" media="(prefers-color-scheme: dark)">
<img src="/logo.png?a=static" alt="{{.SiteName}}">
</picture>
</a>
<a href="/{{.Name | pathescape}}">Current</a>
</div>

<h1>Revisions - {{.Name}}</h1>

<ul>
{{range .Revisions}}
<li>
<form action="/{{.Name | pathescape}}" method="GET">
<input type="hidden" name="a" value="rev" />
<input type="hidden" name="i" value="{{.ID}}" />
<input type="submit" value="View" />
</form>
<pre>{{.Diff | fmtdiff}}</pre>
</li>
{{else}}
<li>No revisions found.</li>
{{end}}
</ul>

</body>
</html>
