<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<title>Search - {{.SiteName}}</title>
</head>
<body>
<a id="top"></a>

<h1>Search</h1>

Name Search
<form action="/?a=search" method="GET">
<input type="hidden" name="a" value="search" />
<input type="hidden" name="t" value="name" />
<input type="text" name="w" value="{{.Word}}" />
<input type="submit" value="Go" />
</form>

Content Search
<form action="/" method="GET">
<input type="hidden" name="a" value="search" />
<input type="hidden" name="t" value="content" />
<input type="text" name="w" value="{{.Word}}" />
<input type="submit" value="Go" />
</form>

<div class="menu">
<a href="/"><img src="/logo.png?a=static" alt="{{.SiteName}}" /></a>
<a href="/">Back</a>
<a href="/?a=recent">Recent</a>
<a href="/?a=all">All</a>
</div>

{{if .Word}}
<h2>Results for "{{.Word}}"</h2>
<ul>
{{range .Results}}
<li><a href="/{{. | pathescape}}">{{.}}</a></li>
{{else}}
<li>No results found.</li>
{{end}}
</ul>
{{end}}

<div class="menu">
<br />
<a href="#top">Top</a>
</div>
</body>
</html>
