<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/style.css?a=static" />
<link rel="icon" type="image/png" href="/icon.png?a=static" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script>MathJax = { options: { processHtmlClass: 'mathjax', ignoreHtmlClass: '.*' } };</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
<title>{{.Name}} - {{.SiteName}}</title>
<meta property="og:title" content="{{.Name}} - {{.SiteName}}" />
<meta property="og:description" content="{{.Summary}}" />
<meta property="og:image" content="{{.Card}}" />
<meta property="og:url" content="{{.Base}}{{.Name | pathescape}}" />
</head>
<body>

<div>
<a href="/"><img src="/logo.png?a=static" border="0" alt="{{.SiteName}}" /></a>
<a href="/{{.Name | pathescape}}?a=edit">Edit</a>
<a href="/{{.Name | pathescape}}?a=revs">Rev.</a>
<a href="/?a=search">Search</a>
<a href="/?a=all">All</a>
</div>

<h1><a href="/?a=search&t=content&w={{.Name | urlquery}}">{{.Name}}</a></h1>

<div>
{{.Rendered}}
</div>

</body>
</html>
