body {
	background-image: url(/tile.png?a=static);
}

textarea {
	width: 98%;
}

.link {
	font-size: 1.125em;
}

.markup {
	color: #5c7;
	font-size: 0.5em;
}

strong {
	color: #e52;
	font-size: 1.125em;
}

em {
	color: #25e;
	font-size: 1.125em;
}

.hunk {
	color: #36f;
}

.plus {
	color: #8fc;
	font-size: 1.125em;
}

.plus-line {
	color: #2c4;
}

.minus {
	color: #fc8;
	font-size: 1.125em;
}

.minus-line {
	color: #f63;
}
