body {
	background: #eff;
	background-image: url(/tile.png?a=static);
}

@media (prefers-color-scheme: dark) {
	body {
		background: #100;
		background-image: url(/tile-dark.png?a=static);
		color: #bbb;
	}
	a:link {
		color: #59d;
	}
	a:visited {
		color: #95d;
	}
	input, textarea {
		background: #000;
		color: #bbb;
		border-color: #444;
	}
	.hljs {
		background: #000;
		color: #bbb;
	}
}

textarea {
	width: 98%;
}

.link {
	font-size: 1.125em;
}

.markup {
	color: #5c7;
	font-size: 0.5em;
}

strong {
	color: #e52;
	font-size: 1.125em;
}

em {
	color: #48f;
	font-size: 1.125em;
}

.hunk {
	color: #36f;
}

.plus {
	color: #8fc;
	font-size: 1.125em;
}

.plus-line {
	color: #2c4;
}

.minus {
	color: #fc8;
	font-size: 1.125em;
}

.minus-line {
	color: #f63;
}
